@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

form {
    height: auto;
    width: calc(100vw - 60vw);
    text-align: center;
    padding: 5rem 4rem;
    background-color: #e2e2e2;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-radius: 1.2rem;
}

p {
    font-size: 2rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

input[type="number"] {
    background-color: #e2e2e2;
    margin: .5rem;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    appearance: textfield;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

select {
    background-color: #e2e2e2;
    width: 12rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

input[type="submit"] {
    width: 9rem;
    height: 4rem;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.7rem;
    background: #ff7518;
    color: var(--mainColor);
    outline: none;
    border: none;
    border-radius: 0.5rem;
}

input[type="submit"]:hover {
    background: #f76a12;
    transition: all 0.3s;
}

input[type="submit"]:focus {
    border: 0.2rem solid #c04c04;
}

#resultContainer {
    font-size: 2.5rem;
    display: block;
    margin-top: 2rem;
}

/* For Tablet Devices */

@media (min-width: 601px) and (max-width: 1023px) {
    form {
        height: auto;
        width: calc(100vw - 30vw);
    }
    p {
        font-size: 1.8rem;
    }
    input[type="number"] {
        width: 12rem;
        margin: auto;
        text-align: center;
        margin-bottom: 2rem;
        display: block;
    }
    select {
        width: 12rem;
        text-align: center;
        margin: auto;
        display: block;
    }
    input[type="submit"] {
        width: 7.5rem;
        font-size: 1.4rem;
        height: 3.5rem;
        margin: auto;
    }
    #resultContainer {
        font-size: 2rem;
    }
}

/* For Mobile Device */

@media (max-width: 600px) {
    form {
        height: auto;
        width: calc(100vw - 20vw);
    }
    p {
        font-size: 1.8rem;
    }
    input[type="number"] {
        width: 12rem;
        margin: auto;
        text-align: center;
        margin-bottom: 2rem;
        display: block;
    }
    select {
        width: 12rem;
        text-align: center;
        margin: auto;
        display: block;
    }
    input[type="submit"] {
        width: 7.5rem;
        font-size: 1.4rem;
        height: 3.5rem;
        margin: auto;
    }
    #resultContainer {
        font-size: 2rem;
    }
}